.profile {
  width: 255px;
  height: 518px;
  background: #1c204b;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}
.profile-top {
  position: relative;
  width: 255px;
  height: 354px;
  background: #5747ea;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}
.img {
  position: absolute;
  width: 100px;
  height: 30%;
  top: 23px;
  left: 30%;
  border-radius: 50%;
  border: 5px solid white;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.img img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.profile-top span {
  position: absolute;
  top: 200px;
  left: 10%;
  height: 18px;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  /* identical to box height */

  color: #bbc0ff;
}
.profile-top p {
  position: absolute;
  height: 98px;
  top: 64%;
  left: 10%;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 300;
  font-size: 40px;
  line-height: 47px;
  letter-spacing: 12px;

  color: #ffffff;
}
.profile-bottom {
  margin-left: 14%;
  margin-top: 14%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 120px;
}
.profile-bottom p {
  color: #7078c9;
}
.profile-bottom :nth-child(2) {
  color: white;
}

@media screen and (max-width: 600px) {
  .profile {
    margin-top: 50px;
    height: 218px;
    width: 320px;
  }
  .profile-top {
    display: flex;
    height: 50%;
    padding-top: 25px;
    width: 320px;
  }
  .profile-top .img {
    height: 70px;
    margin-left: 5px;
  }
  .profile-top .img,
  .profile-top p {
    position: static;
  }
  .profile-top span {
    top: 40px;
    left: 140px;
  }
  .profile-top p {
    margin: 25px;
    font-size: 18px;
    letter-spacing: normal;
  }
  .profile-bottom {
    height: 34px;
    margin-left: 0px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
  }
}
