/* adding style for cards  */
.App {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 99%;
  height: 100%;
  position: absolute;
  /* top: 7rem; */
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  color: #ffffff;
  background-color: #0e1323;
}
