/* adding style for cards  */
* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
.App {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  color: #ffffff;
}
@media screen and (max-width: 1200px) {
  .App {
    flex-direction: column;
    width: 100%;
  }
}
